name: Docker CI

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t static-html-app .

      - name: Run Docker container (inside runner)
        run: docker run -d -p 8095:80 static-html-app
